DirectoryIndex pocetna.html
RewriteEngine On

#RewriteCond %{REQUEST_URI}  ^\/$
#RewriteCond %{QUERY_STRING} ^_escaped_fragment_=(.*)$
#RewriteRule ^(.*)$ snapshots/snaps.php?snap=%1 [NC,QSA]

RewriteRule pocetna pocetna.html
RewriteRule treninzi-aikido-tai-chi aikido-tai-chi-chuan-treninzi.html
RewriteRule povijest-aikido-zadar povijest-aikido-zadar.html
RewriteRule instruktori-aikido-tai-chi tai-chi-aikido-instruktori.html
RewriteRule aikido-zadar-linkovi aikido-tai-chi-linkovi.html
#galerija
RewriteRule aikido-klub-zadar-galerija-2015 2015-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-2011 2011-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-2008 2008-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-2007 2007-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-2005 2005-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-2003 2003-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-2002 2002-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-2001 2001-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-1996 1996-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-1995 1995-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-1992 1992-aikido-klub-zadar-galerija.html
RewriteRule aikido-klub-zadar-galerija-1990 1990-aikido-klub-zadar-galerija.html