DirectoryIndex pocetna.html
RewriteEngine On

#RewriteCond %{REQUEST_URI}  ^\/$
#RewriteCond %{QUERY_STRING} ^_escaped_fragment_=(.*)$
#RewriteRule ^(.*)$ snapshots/snaps.php?snap=%1 [NC,QSA]

RewriteRule pocetna pocetna.html
RewriteRule treninzi treninzi.html
RewriteRule povijest-aikido-zadar povijest.html
RewriteRule aikido-instruktori instruktori.html
RewriteRule galerija-aikido-klub-zadar galerija.html
RewriteRule kontakt kontakt.html
RewriteRule linkovi linkovi.html