<h3>2008.</h3>
<p>Seminar Sensei Yoshigasaki, Zadar</p>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika2.jpg"><img src="../img/seminar_2008/slika2.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika3.jpg"><img src="../img/seminar_2008/slika3.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika5.jpg"><img src="../img/seminar_2008/slika5.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika7.jpg"><img src="../img/seminar_2008/slika7.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika9.jpg"><img src="../img/seminar_2008/slika9.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika13.jpg"><img src="../img/seminar_2008/slika13.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika14.jpg"><img src="../img/seminar_2008/slika14.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika15.jpg"><img src="../img/seminar_2008/slika15.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika16.jpg"><img src="../img/seminar_2008/slika16.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika17.jpg"><img src="../img/seminar_2008/slika17.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika19.jpg"><img src="../img/seminar_2008/slika19.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika21.jpg"><img src="../img/seminar_2008/slika21.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika23.jpg"><img src="../img/seminar_2008/slika23.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika24.jpg"><img src="../img/seminar_2008/slika24.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika26.jpg"><img src="../img/seminar_2008/slika26.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika29.jpg"><img src="../img/seminar_2008/slika29.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika31.jpg"><img src="../img/seminar_2008/slika31.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika32.jpg"><img src="../img/seminar_2008/slika32.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika34.jpg"><img src="../img/seminar_2008/slika34.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika36.jpg"><img src="../img/seminar_2008/slika36.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika37.jpg"><img src="../img/seminar_2008/slika37.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika38.jpg"><img src="../img/seminar_2008/slika38.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika41.jpg"><img src="../img/seminar_2008/slika41.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika42.jpg"><img src="../img/seminar_2008/slika42.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika43.jpg"><img src="../img/seminar_2008/slika43.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika45.jpg"><img src="../img/seminar_2008/slika45.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika46.jpg"><img src="../img/seminar_2008/slika46.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika53.jpg"><img src="../img/seminar_2008/slika53.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika54.jpg"><img src="../img/seminar_2008/slika54.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika55.jpg"><img src="../img/seminar_2008/slika55.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2008/slika58.jpg"><img src="../img/seminar_2008/slika58.jpg" class="thumb"/></a>