<h3>1996.</h3>
<p>1. seminar Sensei Yoshigasaki-ja u Hrvatskoj, Zadar</p>
<a class="fancybox" title="Seminar Kenjiro Yoshigasaki, Zadar" rel="group" href="../img/90/1996_1seminarsenseiyoshigasakihrv.jpg"><img src="../img/90/1996_1seminarsenseiyoshigasakihrv.jpg" class="thumb"/></a>
<a class="fancybox" title="Seminar Kenjiro Yoshigasaki, Zadar" rel="group" href="../img/90/1996_1seminarsenseiyoshigasakihrv(1).jpg"><img src="../img/90/1996_1seminarsenseiyoshigasakihrv(1).jpg" class="thumb"/></a>
<p>Počeci aikido-a u Karlovcu</p>
<a class="fancybox" title="Počeci aikido-a u Karlovcu" rel="group" href="../img/90/1996aikidokarlovac.jpg"><img src="../img/90/1996aikidokarlovac.jpg" class="thumb"/></a>
