<h3>2005.</h3>
<p class="tekst">Prve juniorske hakame u Zadru i Hrvatskoj sa ostalim članovima Aikido škole za djecu</p>
<a class="fancybox" title="Prve juniorske hakame u Zadru i Hrvatskoj te ostali članovi Aikido škole za djecu" rel="group" href="../img/djecaiprvehak.jpg"><img src="../img/djecaiprvehak.jpg" class="thumb"/></a>
<p class="tekst">Seminar Sensei Yoshigasaki, Zadar</p>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika1.jpg"><img src="../img/seminar_2005/slika1.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika2.jpg"><img src="../img/seminar_2005/slika2.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika3.jpg"><img src="../img/seminar_2005/slika3.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika4.jpg"><img src="../img/seminar_2005/slika4.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika6.jpg"><img src="../img/seminar_2005/slika6.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika9.jpg"><img src="../img/seminar_2005/slika9.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika11.jpg"><img src="../img/seminar_2005/slika11.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika12.jpg"><img src="../img/seminar_2005/slika12.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika13.jpg"><img src="../img/seminar_2005/slika13.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika14.jpg"><img src="../img/seminar_2005/slika14.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika19.jpg"><img src="../img/seminar_2005/slika19.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika20.jpg"><img src="../img/seminar_2005/slika20.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika21.jpg"><img src="../img/seminar_2005/slika21.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika23.jpg"><img src="../img/seminar_2005/slika23.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika26.jpg"><img src="../img/seminar_2005/slika26.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika27.jpg"><img src="../img/seminar_2005/slika27.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika28.jpg"><img src="../img/seminar_2005/slika28.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika29.jpg"><img src="../img/seminar_2005/slika29.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika30.jpg"><img src="../img/seminar_2005/slika30.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika35.jpg"><img src="../img/seminar_2005/slika35.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika38.jpg"><img src="../img/seminar_2005/slika38.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika39.jpg"><img src="../img/seminar_2005/slika39.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika40.jpg"><img src="../img/seminar_2005/slika40.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika41.jpg"><img src="../img/seminar_2005/slika41.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika42.jpg"><img src="../img/seminar_2005/slika42.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika43.jpg"><img src="../img/seminar_2005/slika43.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika49.jpg"><img src="../img/seminar_2005/slika49.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/seminar_2005/slika51.jpg"><img src="../img/seminar_2005/slika51.jpg" class="thumb"/></a>