<h3>2007.</h3>
<p>Seminar Nenad Vertovšek, Rogoznica</p>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica.jpg"><img src="../img/rogoznica_2007/seminarrogoznica.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica (1).jpg"><img src="../img/rogoznica_2007/seminarrogoznica (1).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica (2).jpg"><img src="../img/rogoznica_2007/seminarrogoznica (2).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica (3).jpg"><img src="../img/rogoznica_2007/seminarrogoznica (3).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica (4).jpg"><img src="../img/rogoznica_2007/seminarrogoznica (4).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica (5).jpg"><img src="../img/rogoznica_2007/seminarrogoznica (5).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica (6).jpg"><img src="../img/rogoznica_2007/seminarrogoznica (6).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica (7).jpg"><img src="../img/rogoznica_2007/seminarrogoznica (7).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica (8).jpg"><img src="../img/rogoznica_2007/seminarrogoznica (8).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica (9).jpg"><img src="../img/rogoznica_2007/seminarrogoznica (9).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="../img/rogoznica_2007/seminarrogoznica (10).jpg"><img src="../img/rogoznica_2007/seminarrogoznica (10).jpg" class="thumb"/></a>
