<html>
<head>
</head>
<body>
<h3>Aikido Instruktori</h3>
<hr>
<ul id="instructors">
<li>Nenad Vertovšek, 4.Dan i Okuden Ki-test</li>
<li>Vesna Vertovšek, 3.Dan i Okuden Ki-test</li>
<li>Vojko Vrdoljak, 1.Dan i Chuden Ki-test</li>
<li>Alan Medić, 1.Dan i Shoden Ki-test</li>
<li>Vinko Bakija, 1.Kyu i Shoden Ki-test</li>
<!-- <li>Željko Mijić, 1.Kyu i Shoden Ki-test</li> -->
<!-- <li>Ivan Perica, 1.Kyu i Shoden Ki-test</li> -->
<!-- <li>Dubravka Poljak, 1.Kyu i Jokyu Ki-test</li> -->
<!-- <li>Mladen Antišin, 1.Kyu i Jokyu Ki-test</li> -->
</ul>
<hr>
Tai Chi Chuan vode Vesna i Nenad Vertovšek.
</body>
</html>