<h4>1990.</h4>
<p>Svjetski susret aikidoka u Japanu</p>
<a class="fancybox" title="Japan 1990" rel="group" href="img/90/1990japan.jpg"><img src="img/90/1990japan.jpg" class="thumb"/></a>
<a class="fancybox" title="Sensei Maruyama" rel="group" href="img/90/1990maruyama.jpg"><img src="img/90/1990maruyama.jpg" class="thumb"/></a>
<a class="fancybox" title="Japan 1990" rel="group" href="img/90/1990seminarjapan.jpg"><img src="img/90/1990seminarjapan.jpg" class="thumb"/></a>
<a class="fancybox" title="Tenshin Kan Dojo" rel="group" href="img/90/1990tenshinkandojo.jpg"><img src="img/90/1990tenshinkandojo.jpg" class="thumb"/></a>
<a class="fancybox" title="Sensei Tohei" rel="group" href="img/90/1990tohei.jpg"><img src="img/90/1990tohei.jpg" class="thumb"/></a>