<h3>2002.</h3>
<p>Aikido škola za djecu</p>
<a class="fancybox" title="Članovi Aikido škole za djecu" rel="group" href="img/2002/djeca.jpg"><img src="img/2002/djeca.jpg" class="thumb"/></a>
<a class="fancybox" title="Članovi Aikido škole za djecu" rel="group" href="img/2002/djeca(1).jpg"><img src="img/2002/djeca(1).jpg" class="thumb"/></a>
<p>Seminar Sensei Yoshigasaki, Zadar</p>
<a class="fancybox" rel="group" href="img/2002/slika1.jpg"><img src="img/2002/slika1.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2002/slika2.jpg"><img src="img/2002/slika2.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2002/slika3.jpg"><img src="img/2002/slika3.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2002/slika4.jpg"><img src="img/2002/slika4.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2002/slika5.jpg"><img src="img/2002/slika5.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2002/slika6.jpg"><img src="img/2002/slika6.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2002/slika8.jpg"><img src="img/2002/slika8.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2002/slika9.jpg"><img src="img/2002/slika9.jpg" class="thumb"/></a>