<h3>2016.</h3>
<p>Snimka nastupa Aikido kluba Zadar na Tuna Fish Festivalu, Zadar</p>
<iframe class='responsive-embed' width="560" height="315" src="https://www.youtube.com/embed/YFoc54rL9d8" frameborder="0" allowfullscreen></iframe>
<p>Nastup Aikido kluba Zadar u klubu Arsenal</p>
<a class="fancybox" rel="group" href="img/2016/057 (1).jpg"><img src="img/2016/057 (1).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/057 (2).jpg"><img src="img/2016/057 (2).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/057 (3).jpg"><img src="img/2016/057 (3).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/057 (4).jpg"><img src="img/2016/057 (4).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/057 (5).jpg"><img src="img/2016/057 (5).jpg" class="thumb"/></a>
<p>(izvor: <a target='_blank' href='http://www.057info.hr/vijesti/2016-02-06/zadar-i-japan-ljubav-preko-tune-pretvorit-ce-u-tradiciju'>057info</a>)</p>
<a class="fancybox" rel="group" href="img/2016/ZNET (1).jpg"><img src="img/2016/ZNET (1).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (2).jpg"><img src="img/2016/ZNET (2).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (7).jpg"><img src="img/2016/ZNET (7).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (8).jpg"><img src="img/2016/ZNET (8).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (9).jpg"><img src="img/2016/ZNET (9).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (11).jpg"><img src="img/2016/ZNET (11).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (12).jpg"><img src="img/2016/ZNET (12).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (13).jpg"><img src="img/2016/ZNET (13).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (14).jpg"><img src="img/2016/ZNET (14).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/arsenalzad1.jpg"><img src="img/2016/arsenalzad1.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/arsenalzad2.jpg"><img src="img/2016/arsenalzad2.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/arsenalzad3.jpg"><img src="img/2016/arsenalzad3.jpg" class="thumb"/></a>
	<p>(izvor: <a target='_blank' href='http://www.znet.hr/2016/02
	/foto-spektakularna-gala-vecera-u-arsenalu-povodom-tuna-sushi-wine-festivala/'>ZNET</a>)</p>
<a class="fancybox" rel="group" href="img/2016/ezad(1).jpg"><img src="img/2016/ezad(1).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(2).jpg"><img src="img/2016/ezad(2).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(3).jpg"><img src="img/2016/ezad(3).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(4).jpg"><img src="img/2016/ezad(4).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(5).jpg"><img src="img/2016/ezad(5).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(6).jpg"><img src="img/2016/ezad(6).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(7).jpg"><img src="img/2016/ezad(7).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(8).jpg"><img src="img/2016/ezad(8).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(9).jpg"><img src="img/2016/ezad(9).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(10).jpg"><img src="img/2016/ezad(10).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(11).jpg"><img src="img/2016/ezad(11).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ezad(12).jpg"><img src="img/2016/ezad(12).jpg" class="thumb"/></a>
	<p>(izvor: <a target='_blank' href='http://www.ezadar.hr/clanak/humanitarna-gala-vecera-u-sklopu-tuna-sushi-wine-festivala/381560#main_content'>eZadar.hr</a>)</p>
<a class="fancybox" rel="group" href="img/2016/arsenal1.jpg"><img src="img/2016/arsenal1.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/arsenal2.jpg"><img src="img/2016/arsenal2.jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/arsenal3.jpg"><img src="img/2016/arsenal3.jpg" class="thumb"/></a>
<p>Prezentacija Aikido kluba Zadar za građane na Zadarskom Forumu</p>
<a class="fancybox" rel="group" href="img/2016/ZNET (3).jpg"><img src="img/2016/ZNET (3).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (4).jpg"><img src="img/2016/ZNET (4).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (5).jpg"><img src="img/2016/ZNET (5).jpg" class="thumb"/></a>
<a class="fancybox" rel="group" href="img/2016/ZNET (6).jpg"><img src="img/2016/ZNET (6).jpg" class="thumb"/></a>
<p>(izvor: <a target='_blank' href='http://www.znet.hr/2016/02/tuna-sushi-wine-festival-prezentacija-na-forumu/'>ZNET</a>, 
	<a target='_blank' href='http://www.zadarski.hr/zadar-plus/clanak/id/17743/foto-2tsw-festival-zadrani-na-forumu-uzivali-u-najkvalitetnijoj-tunjevini'>Zadarski.hr</a>)</p>